* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #f6f6f6;
  min-height: 100%;
  display: grid;
  grid-template-rows: 300px auto;
  gap: 1rem;
}
