.btn {
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  background-color: #58a4b0;
  color: #fff;
  font-size: 18px;
  transition: transform linear 0.25s;
}

.btn:hover {
  text-decoration: underline;
}

.btn:active {
  text-decoration: none;
  transform: scale(0.9);
}

.close-btn {
  background-color: #373f51;
}
